<p>
  plot works!
</p>
<div class="container">
	<!-- <div class="item is-pulled-left" *ngFor="let c of characters">
	  <h2 class="is-size-4">{{c.name}}</h2>
	  <div class="scene-list">
	    <ul dnd-list="c.scenes">
	      <li class="item" *ngFor="let scene of c.scenes"
	        dnd-draggable="scene"
	        dnd-moved="c.scenes.splice($index, 1)"
	        dnd-effect-allowed="move"
	        dnd-selected="c.scenes.selected = scene"
	        ng-class="{'selected': c.scenes.selected === scene}">
	        <div class="is-pulled-right move-ctrl"><i class="fa fa-fw fa-bars"></i></div>
	        {{scene.content}}
	      </li>
	      
	    </ul>
	  </div>
	</div> -->
</div>
